<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Character Sheet Creator</title>

    <!-- CSS -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <div class="w3-container">

        <!-- Top Bar -->
        <div class="w3-bar w3-large">
            <a href="#" class="w3-bar-item w3-button"><i class="fa fa-bars"></i></a>
            <span class="w3-bar-item">OpenDnD</span>
        </div>

        <!-- Content -->
        <form action="{{ url_for('index.index') }}" method="POST" class="w3-container">

            <!-- Left Panel-->
            <div class="w3-col w3-container m6 l5">

                <!-- Title -->
                <h1 class="w3-opacity"><b>Character Sheet Creator</b></h1>
                
                <br>
                
                <!-- Character Name -->
                <div class="w3-card-4">
                    <header class="w3-container w3-light-grey">
                        <h2>Character Name</h2>
                    </header>

                    <div class="w3-container w3-padding-16">
                        <input class="w3-input w3-animate-input w3-xxlarge" type="text" id="character_name" name="character_name" placeholder="Character Name">
                    </div>
                </div>

                <br>
                <br>
                
                <!-- Basics -->
                <div class="w3-card-4">
                    <header class="w3-container w3-light-grey">
                        <h2>Basics</h2>
                    </header>
                    
                    <!-- Entries -->
                    <div class="w3-container w3-padding-16">

                        <!-- Class-->
                        <div class="w3-card">
                            <header class="w3-container w3-light-grey">
                                <h2>Class Info</h2>
                            </header>

                            <div class="w3-container">
                                <input class="w3-input w3-animate-input w3-xlarge w3-margin-top" type="text" id="basics-class" name="basics-class" placeholder="Class">
                                <p class="w3-opacity"><b>Class</b></p>
                            </div>

                            <div class="w3-container">
                                <input class="w3-input w3-animate-input w3-xlarge w3-margin-top" type="text" id="basics-level" name="basics-level" placeholder="Level">
                                <p class="w3-opacity"><b>Level</b></p>
                            </div>

                            <hr>

                            <div class="w3-container">
                                <input class="w3-input w3-animate-input w3-xlarge w3-margin-top" type="text" id="basics-class2" name="basics-class2" placeholder="Class">
                                <p class="w3-opacity"><b>Class 2</b></p>
                            </div>

                            <div class="w3-container">
                                <input class="w3-input w3-animate-input w3-xlarge w3-margin-top" type="text" id="basics-level2" name="basics-level2" placeholder="Level">
                                <p class="w3-opacity"><b>Level 2</b></p>
                            </div>
                            
                            <div class="w3-container w3-dark-grey w3-block">
                                <p><b>Class 2</b> and <b>Level 2</b> only need to be filled if multi classing.</p>
                            </div>

                        </div>

                        <br>

                        <!-- Race -->
                        <div class="w3-card">
                            <div class="w3-container">
                                <input class="w3-input w3-animate-input w3-xlarge w3-margin-top" type="text" id="basics-race" name="basics-race" placeholder="Race">
                                <p class="w3-opacity"><b>Race</b></p>
                            </div>
                        </div>
                        
                        <br>

                        <!-- Background -->
                        <div class="w3-card">
                            <div class="w3-container">
                                <input class="w3-input w3-animate-input w3-xlarge w3-margin-top" type="text" id="basics-background" name="basics-background" placeholder="Background">
                                <p class="w3-opacity"><b>Background</b></p>
                            </div>
                        </div>

                        <br>

                        <!-- Alignment -->
                        <div class="w3-card">
                            <div class="w3-container">
                                <input class="w3-input w3-animate-input w3-xlarge w3-margin-top" type="text" id="basics-alignment" name="basics-alignment" placeholder="Alignment">
                                <p class="w3-opacity"><b>Alignment</b></p>
                            </div>
                        </div>

                        <br>

                        <!-- Progression Type -->
                        <div class="w3-card">
                            <div class="w3-container">
                                <input class="w3-input w3-animate-input w3-xlarge w3-margin-top" type="text" id="basics-progression_type" name="basics-progression_type" placeholder="Progression Type">
                                <p class="w3-opacity"><b>Progression Type</b></p>
                            </div>
                        </div>

                        <br>

                        <!-- Player Name -->
                        <div class="w3-card">
                            <div class="w3-container">
                                <input class="w3-input w3-animate-input w3-xlarge w3-margin-top" type="text" id="basics-player_name" name="basics-player_name" placeholder="Player Name">
                                <p class="w3-opacity"><b>Player Name</b></p>
                            </div>
                        </div>
                    </div>
                </div>
                <br>

            </div>
            
            <!-- Right Panel -->
            <div class="w3-col w3-container m6 l7">

                <!-- Title -->
                <h1 class="w3-opacity"><b>Preview</b></h1>

                <p>Raw Data:<br>{{ raw_data }}</p>
                

                <br>

                <div class="w3-card-4">
                    <header class="w3-container w3-light-grey w3-padding-16">
                        <button type="submit" class="w3-btn w3-dark-grey w3-block">Update Preview</button>
                    </header>

                    <iframe src="{{ url_for('static', filename='media/Official.pdf') }}" width="100%" style="height: calc( 100vh );border: none"></iframe>
                </div>
                
            </div>
        </form>

    </div>
</body>

</html>